@{
    ViewData["Title"] = "About Conference";
}


<!-- Background Image Section -->
<div id="intro-example" class="img-fluid " style=" height: 30vh; margin-top:70px; width: 100%; background-image: url('../Images/Photo18.jpeg'); background-size: cover; background-position: center; ">
    <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-start px-3">
            <h2 class="fw-bold display-5 text-uppercase text-light">About Conference</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
</div>

<!--About Section-->
<section class="about-us-countdown-area section-padding-100-0 pt-4 pb-2" id="about">
    <div class="container pt-5 pb-2">
        <h5 class="text-uppercase text-primary fs-3 fw-bold">About Conference</h5>
        <div class="row  mb-3 ">
            <!-- About Content -->
            <div class="col-lg-7 col-md-12">
                <div class="about-content-text mb-4 mt-4 about_us">
                    <p class="fs-4" style="text-indent: 55px; text-align: justify">
                        The International Conference on Computing, Networking, and Data Science (ICCNDS 2025) is a premier forum for researchers, academicians, industry professionals, and students to exchange ideas, share insights, and explore the latest advancements in the fields of computing, networking, and data science.
                    </p>
                    <p class="fs-4" style="text-indent: 55px; text-align: justify">
                        As digital transformation continues to reshape industries, the role of artificial intelligence, big data, cloud computing, and advanced networking has become more critical than ever. ICCNDS 2025 provides a unique platform to discuss emerging technologies, groundbreaking research, and industry trends that will shape the future of digital innovation.
                    </p>
                </div>
            </div>

            <!-- Image -->
            <div class="col-lg-5 col-md-12 d-flex justify-content-center mt-4 mt-lg-0">
                <img src="../Images/Photo1.png" alt="AI Image" class="img-fluid ">
            </div>
        </div>
    </div>
</section>


<section class="container-fluid text-dark p-5" style="background-image: url('../Images/Photo23.jpg'); background-size: cover; background-position: center;">

    <div class="container p-5 rounded-3 box-shadow">
        <div class="row ">
            <!-- Where Section -->
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center align-items-start">
                    <i class="fa-solid fa-map-marker-alt text-success fs-1 mb-3"></i>
                    <p class="display-5 fw-bold">Where</p>
                    <div class="border-bottom border-success border-3 w-25 mb-3"></div>
                    <p class="mt-2 fs-4 text-center">
                        ICDN Institute<br>
                        7th cross 4th street, DPRSL, Chennai,<br>
                        Tamilnadu
                    </p>
                </div>
            </div>
            <!-- When Section -->
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center align-items-start">
                    <i class="fa-solid fa-calendar-alt text-success fs-1 mb-3"></i>
                    <p class="display-5 fw-bold">When</p>
                    <div class="border-bottom border-success border-3 w-25 mb-3"></div>
                    <p class="mt-2 fs-4 text-center">
                        23<sup>rd</sup> - 24<sup>th</sup> August, 2024
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a asp-action="Registration_Details" asp-controller="Author_s_Desk" class="btn btn-outline-success btn-lg">Register Here</a>
        </div>
    </div>
</section>