<!--Hero Section-->
<Hero id="home">
    <!-- Background Image Section -->
    <div id="intro-example" class="img-fluid" style=" background-image: url('../Images/Photo16.jpg'); background-size: cover; background-position: center;  height: 100vh;  width: 100%; ">
        <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
            <div class="text-white text-start px-3">
                <h1 class="mb-3 display-6">
                   Editorial Board
                </h1>

            </div>
        </div>
    </div>
</Hero>
