<!--Title name-->
@{
    ViewData["Title"] = "Organizing Committee";
}

<!-- Background Image Section -->
<div id="intro-example" class="img-fluid animated fadeIn"
     style="height: 30vh; margin-top:80px; width: 100%; background-image: url('../Images/Photo16.jpg'); background-size: cover; background-position: center;">
    <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-start px-3 animated slideInDown">
            <h2 class="fw-bold display-5 text-uppercase text-light">Organize Committee</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
</div>

<!--Main section for organizing committie-->
<div class="container my-5" style="max-width: 800px;">
    <!-- Chairman -->
    <div class="my-5">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-sm sm:max-w-sm fs-2">Chairman</h4>
        <div class="card mt-3 shadow-sm mx-5">
            <div class="card-body fs-5">
                Dr. N. Anbazhaghan, M.E., Ph.D., Principal
            </div>
        </div>
    </div>

    <!-- Convenors -->
    <div class="my-5">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-xs sm:max-w-sm fs-2">Convenors</h4>
        <div class="card mt-3 shadow-sm mx-5">
            <div class="card-body fs-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dr. J. Joseph Ignatious, M.E., Ph.D., Professor / ECE</li>
                    <li class="list-group-item">Dr. G. Perumal, M.E., Ph.D., Professor & Head / MECH</li>
                    <li class="list-group-item">Dr. J.K. Jothi Kalpana, M.Tech., Ph.D., Professor / CSE</li>
                    <li class="list-group-item">Dr. S. Shanmuga Sundaram, M.E., Ph.D., Coordinator / S&H</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Advisory Committee -->
    <div class="my-5">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-xs sm:max-w-sm fs-2">Advisory Committee</h4>

        <div class="card mt-3 shadow-sm mx-5">
            <div class="card-body fs-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mr. G. Sadiq Basha, HOD / ECE</li>
                    <li class="list-group-item">Mr. K. Ramesh, HOD / CSE</li>
                    <li class="list-group-item">Mr. S. Manimaran, HOD / EEE</li>
                    <li class="list-group-item">Mr. A. Kumar, HOD / CIVIL</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Coordinators -->
    <div class="my-5">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-xs sm:max-w-sm fs-2">Coordinators</h4>
        <div class="card mt-3 shadow-sm mx-5 fs-5">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mr. N. Gobinathan, Assistant Professor / CSE</li>
                    <li class="list-group-item">Mr. P. Paruthillam Vazhuthi, Assistant Professor / ECE</li>
                    <li class="list-group-item">Mr. N. Ejoumalae, Assistant Professor / MEC</li>
                    <li class="list-group-item">Mr. R. Vimalprakash, Assistant Professor / EEE</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Members -->
    <div class="my-5">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-xs sm:max-w-sm fs-2">Members</h4>
        <div class="card mt-3 shadow-sm mx-5">
            <div class="card-body fs-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mr. C. Subramaniyan, Associate Professor / MECH</li>
                    <li class="list-group-item">Mr. B. Annadurai, Assistant Professor / EEE</li>
                    <li class="list-group-item">Mrs. T. Priyadarshini, Assistant Professor / ECE</li>
                    <li class="list-group-item">Mr. P. Dinesh Babu, Assistant Professor / CSE</li>
                    <li class="list-group-item">Mrs. S. Sivapriya, Assistant Professor / CIVIL</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--Venue section-->
<section class="container-fluid text-dark p-5" style="background-image: url('../Images/Photo23.jpg'); background-size: cover; background-position: center;">

    <div class="container p-5 rounded-3 box-shadow">
        <div class="row ">
            <!-- Where Section -->
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center align-items-start">
                    <i class="fa-solid fa-map-marker-alt text-success fs-1 mb-3"></i>
                    <p class="display-5 fw-bold">Where</p>
                    <div class="border-bottom border-success border-3 w-25 mb-3"></div>
                    <p class="mt-2 fs-4 text-center">
                        PSG Institute of Technology and Applied Research<br>
                        Avinashi Road, Neelambur, Coimbatore,<br>
                        Tamilnadu
                    </p>
                </div>
            </div>
            <!-- When Section -->
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center align-items-start">
                    <i class="fa-solid fa-calendar-alt text-success fs-1 mb-3"></i>
                    <p class="display-5 fw-bold">When</p>
                    <div class="border-bottom border-success border-3 w-25 mb-3"></div>
                    <p class="mt-2 fs-4 text-center">
                        23<sup>rd</sup> - 24<sup>th</sup> August, 2024
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a asp-action="Registration_Details" asp-controller="Author_s_Desk" class="btn bg-success text-light fs-4 btn-lg">Register Here</a>
        </div>
    </div>
</section>