@{
    ViewData["Title"] = "Organizing Committee";
}


<!-- Background Image Section -->
<div id="intro-example" class="img-fluid" style=" height: 30vh; margin-top:70px; width: 100%; background-image: url('../Images/Photo16.jpg'); background-size: cover; background-position: center; ">
        <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-center px-3">
                <h2 class="fw-bold display-5 text-uppercase text-light">Organize Committee</h2>
                <p class="text-danger lead">Exploring Innovations in Computing, Networking, and Data Science</p>
                <div class="divider mx-auto my-3"></div>
            </div>
        </div>
</div>


<div class="container my-5" style="max-width: 800px;">
    <!-- Chairman -->
    <div class="mb-4">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-sm sm:max-w-sm">Chairman</h4>
        <div class="card mt-3 shadow-sm mx-5">
            <div class="card-body">
                Dr. N. Anbazhaghan, M.E., Ph.D., Principal
            </div>
        </div>
    </div>

    <!-- Convenors -->
    <div class="mb-4">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-xs sm:max-w-sm">Convenors</h4>
        <div class="card mt-3 shadow-sm mx-5">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dr. J. Joseph Ignatious, M.E., Ph.D., Professor / ECE</li>
                    <li class="list-group-item">Dr. G. Perumal, M.E., Ph.D., Professor & Head / MECH</li>
                    <li class="list-group-item">Dr. J.K. Jothi Kalpana, M.Tech., Ph.D., Professor / CSE</li>
                    <li class="list-group-item">Dr. S. Shanmuga Sundaram, M.E., Ph.D., Coordinator / S&H</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Advisory Committee -->
    <div class="mb-4">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-xs sm:max-w-sm">Advisory Committee</h4>

        <div class="card mt-3 shadow-sm mx-5">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mr. G. Sadiq Basha, HOD / ECE</li>
                    <li class="list-group-item">Mr. K. Ramesh, HOD / CSE</li>
                    <li class="list-group-item">Mr. S. Manimaran, HOD / EEE</li>
                    <li class="list-group-item">Mr. A. Kumar, HOD / CIVIL</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Coordinators -->
    <div class="mb-4">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-xs sm:max-w-sm">Coordinators</h4>
        <div class="card mt-3 shadow-sm mx-5">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mr. N. Gobinathan, Assistant Professor / CSE</li>
                    <li class="list-group-item">Mr. P. Paruthillam Vazhuthi, Assistant Professor / ECE</li>
                    <li class="list-group-item">Mr. N. Ejoumalae, Assistant Professor / MEC</li>
                    <li class="list-group-item">Mr. R. Vimalprakash, Assistant Professor / EEE</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Members -->
    <div class="mb-4">
        <h4 class="bg-primary text-white py-2 rounded-full px-4 mx-auto text-center max-w-xs sm:max-w-sm">Members</h4>
        <div class="card mt-3 shadow-sm mx-5">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mr. C. Subramaniyan, Associate Professor / MECH</li>
                    <li class="list-group-item">Mr. B. Annadurai, Assistant Professor / EEE</li>
                    <li class="list-group-item">Mrs. T. Priyadarshini, Assistant Professor / ECE</li>
                    <li class="list-group-item">Mr. P. Dinesh Babu, Assistant Professor / CSE</li>
                    <li class="list-group-item">Mrs. S. Sivapriya, Assistant Professor / CIVIL</li>
                </ul>
            </div>
        </div>
    </div>
</div>



