@{
    ViewData["Title"] = "Scope of Conference";
}


<!-- Background Image Section -->
<div id="intro-example" class="img-fluid " style=" height: 30vh; margin-top:70px;  width: 100%; background-image: url('../Images/Photo16.jpg'); background-size: cover; background-position: center; ">
    <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-center px-3">
            <h2 class="fw-bold display-5 text-uppercase text-light">Scope of Conference</h2>
            <p class="text-danger lead">Exploring Innovations in Computing, Networking, and Data Science</p>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
</div>


<div class="container hero-section">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="content-box">
                <h2 class="section-title">Computing, Networking & Data Science</h2>
                <p class="mt-3 lead">Explore the latest innovations and trends shaping the future of technology.This conference will explore groundbreaking technologies, real-world applications, and future trends driving digital transformation.</p>

                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-icon">🤖</div>
                            <h5>Artificial Intelligence</h5>
                            <ul>
                                <li>Machine Learning</li>
                                <li>NLP & Computer Vision</li>
                                <li>AI Ethics</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-icon">🌐</div>
                            <h5>Networking & Security</h5>
                            <ul>
                                <li>5G & IoT</li>
                                <li>Cybersecurity</li>
                                <li>Blockchain</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-icon">📊</div>
                            <h5>Data Science</h5>
                            <ul>
                                <li>Big Data</li>
                                <li>Analytics & BI</li>
                                <li>Data Ethics</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>