@{
    ViewData["Title"] = "Journal Publication";
}


<!-- Background Image Section -->
<div id="intro-example" class="img-fluid" style=" height: 30vh; margin-top:70px;  width: 100%; background-image: url('../Images/Photo17.jpeg'); background-size: cover; background-position: center; ">
    <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-center px-3">
            <h2 class="fw-bold display-5 text-uppercase text-light">Journal Publication</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
</div>


<div class="container-fluid  d-flex vh-50 justify-content-center align-items-center my-5">
    <div class="text-center border rounded p-5 shadow">
        <h1 class="fw-bold text-dark">Coming Soon</h1>
        <p class="text-secondary">We're working on something exciting!</p>
        <div class="spinner-border text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

