@model ContactForm


@{
    var message = TempData["Message"] as string;
    var messageType = TempData["MessageType"] as string;
}

<!--Contact Section-->
<section class="contact-our-area py-3 mt-5" id="contact" style="background-image: url('../Images/Photo6.jpg'); background-size: cover; background-position: center;">
    <div class="container p-5">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                @if (!string.IsNullOrEmpty(message))
                {
                    <div class="alert alert-@messageType">
                        @message
                    </div>
                }
                <div class="mb-4">
                    <p class="text-info fs-3 py-2" style="padding-left: 25%;">Any concerns?</p>
                    <h5 class="text-uppercase text-black fs-4 pb-4" style="padding-left: 25%;">Contact Us</h5>
                </div>
            </div>
        </div>

        <div class="row gy-4 justify-content-between mx-3">
            <!-- Contact Form -->
            <div class="col-12 col-md-7" id="contact-form">
                <div class="contact_form_area">
                    <form method="post" id="main_contact_form">
                        <div class="row gy-3 ">
                            <!-- First Name -->
                            <div class="col-12 col-md-6">
                                <input asp-for="FirstName" class="form-control text-white fs-5 placeholder-white" name="FirstName" id="name" placeholder="Your Name" />
                            </div>
                            <!-- Last Name -->
                            <div class="col-12 col-md-6">
                                <input asp-for="LastName" class="form-control text-white fs-5 placeholder-white" name="LastName" id="last_name" placeholder="Last Name" />
                            </div>
                            <!-- Email -->
                            <div class="col-12 col-md-6">
                                <input asp-for="Email" class="form-control text-white fs-5 placeholder-white" name="email" id="email" placeholder="E-mail" />
                            </div>
                            <!-- Phone Number -->
                            <div class="col-12 col-md-6">
                                <input asp-for="PhoneNumber" class="form-control text-white fs-5 placeholder-white" name="PhoneNumber" id="subject" placeholder="Your Number" />
                            </div>
                            <!-- Message -->
                            <div class="col-12">
                                <textarea asp-for="Message" class="form-control text-white fs-5 placeholder-white" id="message" placeholder="Your Message *" rows="4"></textarea>
                            </div>

                            <!-- Submit Button -->
                            <div class="col-12 text-end">
                                <div class=" mt-4">
                                    <button asp-controller="ContactForm" asp-action="ContactForm" class="btn btn-primary px-4 py-2 fw-bold">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--Contact Information
                <div class="col-12 col-md-4">
                <div class="contact-information">
                    <div class="mb-3">
                        <p class="mb-1 text-warning fw-bold">Address:</p>
                        <h5 class="text-white">184 Main Collins Street</h5>
                    </div>
                    <div class="mb-3">
                        <p class="mb-1 text-warning fw-bold">Phone:</p>
                        <h5 class="text-white">(226) 446 9371</h5>
                    </div>
                    <div class="mb-3">
                        <p class="mb-1 text-warning fw-bold">Email:</p>
                        <h5 class="text-white">confer@gmail.com</h5>
                    </div>
                    <div class="mb-3">
                        <p class="mb-1 text-warning fw-bold">Website:</p>
                        <h5 class="text-white">www.confer.com</h5>
                    </div>
                </div>
            </div>
             -->
        </div>
    </div>
</section>