@model ContactForm

<!--Title Name-->
@{
    ViewData["Title"] = "Home";
}

<!--Get the response message from the backend and store the value-->
@{
    var message = TempData["Message"] as string;
    var messageType = TempData["MessageType"] as string;
}

<!--Showing the Validation Error Message-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<!--Hero Section-->
<Hero id="home">
    <!-- Background Image Section -->
    <div id="intro-example" class="img-fluid" style=" background-image: url('../Images/Photo2.jpg'); background-size: cover; background-position: center;  height: 100vh;  width: 100%; ">
        <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
            <div class="text-start px-3" style="color:#FFFFFF">
                
                <h5 class="mb-3 display-6 text-center">
                    7th International Conference on Computing, Networking and Data Science
                </h5>
                <h5 class="mb-3 display-6 text-center" style="color:yellow;">
                    7th April, 2025
                </h5>
                
                <div class="d-flex justify-content-center">
                    <a class="btn  btn-lg m-2 startbutton text-dark fs-5 fw-bold" style="background-color:white;" asp-action="Registration_Details" asp-controller="Author_s_Desk" role="button">
                        Register Here
                    </a>
                </div>
            </div>
        </div>
    </div>
</Hero>

<!--About Section-->
<section class="about-us-countdown-area section-padding-100-0 pt-4 pb-2" id="about">
    <div class="container pt-5 pb-2">
        <h5 class="text-uppercase text-primary fs-3 fw-bold">About Conference</h5>
        <div class="row  mb-3 ">
            <!-- About Content -->
            <div class="col-lg-7 col-md-12">
                <div class="about-content-text mb-4 mt-4 about_us">
                    <p class="fs-4" style="text-indent: 55px; text-align: justify">
                        The International Conference on Computing, Networking, and Data Science (ICCNDS 2025) is a premier forum for researchers, academicians, industry professionals, and students to exchange ideas, share insights, and explore the latest advancements in the fields of computing, networking, and data science.
                    </p>
                    <p class="fs-4" style="text-indent: 55px; text-align: justify">
                        As digital transformation continues to reshape industries, the role of artificial intelligence, big data, cloud computing, and advanced networking has become more critical than ever. ICCNDS 2025 provides a unique platform to discuss emerging technologies, groundbreaking research, and industry trends that will shape the future of digital innovation.
                    </p>
                    <div class="text-start mt-4">
                        <a class="btn btn-primary px-4 py-2 fs-5 fw-bold" asp-action="About_the_conference" asp-controller="Home">About Conference</a>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div class="col-lg-5 col-md-12 d-flex justify-content-center mt-4 mt-lg-0">
                <img src="../Images/Photo1.png" alt="AI Image" class="img-fluid ">
            </div>
        </div>
    </div>
</section>

<!--Speaker Section-->
<section class="p-5" style="background-image: url('../Images/Photo13.jpg');" id="speaker">
    <div class="container p-2">
        <h5 class="text-uppercase text-primary fs-3 fw-bold pb-4">Speaker</h5>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="Images/s6.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title fw-bold">Emily Dawson</h4>
                        <p class="card-text fs-5">
                            A speaker should have deep knowledge and experience in their field
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="Images/s2.jpeg" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title fw-bold">Dr. Michael Carter</h4>
                        <p class="card-text fs-5">A great speaker captivates the audience with their energy and storytelling </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="Images/s4.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title fw-bold">Lisa Chen</h4>
                        <p class="card-text fs-5">
                            A speaker should exude confidence and authority on their topic.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="Images/s5.jpeg" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title fw-bold">Kevin Brooks</h4>
                        <p class="card-text fs-5">
                            Good speakers interact with and relate to their audience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-Start mt-4">
            <a class="btn btn-primary px-4 py-2 fs-5 fw-bold" asp-action="Speaker" asp-controller="Home">More Speaker</a>
        </div>
    </div>
</section>

<!--Contact Section-->
<section class="contact-our-area pb-3" id="contact">
    <div class="container pb-5 pt-5 text-black">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="mb-4">
                    <h5 class="text-uppercase text-info fs-3 ">Any concerns?</h5>
                    <div class="mb-4 fs-5">
                        @if (!string.IsNullOrEmpty(message))
                        {
                            <div class="alert alert-@messageType">
                                @message
                            </div>
                        }
                    </div>
                    <p class="text-uppercase text-primary fs-4 fw-bold">Contact Us</p>
                </div>
            </div>
        </div>

        <div class="row gy-4 justify-content-between mx-3">
            <!-- Contact Form -->
            <div class="col-12 col-md-7" id="contact-form">
                <div class="contact_form_area">
                    <form method="post" id="main_contact_form">
                        <div class="row gy-3 ">
                            <!-- First Name -->
                            <div class="col-12 col-md-6">
                                <input asp-for="FirstName" class="form-control fs-5 placeholder-white" name="FirstName" id="name" placeholder="Your Name *"  />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <!-- Last Name -->
                            <div class="col-12 col-md-6">
                                <input asp-for="LastName" class="form-control fs-5 placeholder-white" name="LastName" id="last_name" placeholder="Last Name *"  />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <!-- Email -->
                            <div class="col-12 col-md-6">
                                <input asp-for="Email" class="form-control fs-5 placeholder-white" name="Email" id="email" placeholder="E-mail *"  />
                                `<span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <!-- Phone Number -->
                            <div class="col-12 col-md-6">
                                <input asp-for="PhoneNumber" class="form-control fs-5 placeholder-white" name="PhoneNumber" id="subject" placeholder="Your Number *"  />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <!-- Message -->
                            <div class="col-12">
                                <textarea asp-for="Message" class="form-control fs-5 placeholder-white" id="message" placeholder="Your Message *" rows="3" ></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>

                            <!-- Submit Button -->
                            <div class="col-12 text-start">
                                <div class=" mt-4">
                                    <button asp-controller="ContactForm" asp-action="ContactForm" class="btn btn-primary fs-5 px-4 py-2 fw-bold">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--Contact Information -->
            <div class="col-12 col-md-4">
                <div class="contact-information">
                    <div class="mb-3">
                        <h5 class="mb-1 text-primary fs-5 fw-bold">Address:</h5>
                        <p class="fs-4">7th Main Cross Street</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="mb-1 text-primary fs-5 fw-bold">Phone:</h5>
                        <p class="fs-4"> 9554231589</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="mb-1 text-primary fs-5 fw-bold">Email:</h5>
                        <p class="fs-4">dprsl@gmail.com</p>
                    </div>

                </div>
            </div>

        </div>


    </div>
</section>