<!--Speaker Section-->
<section class="p-5 mt-5" style="background-image: url('../Images/Photo14.jpg');" id="speaker">
    <div class="container p-2">
        <h2 class="text-center text-white mb-4">Topic Speaker</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="/Images/Person1 (1).jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Take part in specialized workshops led by experts, providing practical insights and strategies to enhance your skills. Engage with peers
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="/Images/Person1 (2).jpg" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Take part in specialized workshops led by experts, providing practical insights and strategies to enhance your skills. Engage with peers during networking sessions designed to foster collaboration and professional growth</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="/Images/Person1 (3).jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="/Images/Person1 (4).jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="/Images/Person1 (4).jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Take part in specialized workshops led by experts, providing practical insights and strategies to enhance your skills. Engage with peers
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="/Images/Person1 (3).jpg" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Take part in specialized workshops led by experts, providing practical insights and strategies to enhance your skills. Engage with peers during networking sessions designed to foster collaboration and professional growth</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="/Images/Person1 (2).jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-lg d-flex flex-column h-100">
                    <img src="/Images/Person1 (1).jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>